In [7]:
# tuple is ordered/sequence data type
# we can store any data type in tuple
# data store  ()-->paranthisis in tuple
# tuple are immutable, means once tuple is created we cannot update
# no append,no remove, no insert, no pop, no delete like list
# count, index,len,   methods can used in tuple
# slicing can be done
# tuple is used when no need to modify data
#tuple are faster than list

tpl=('one','two','three')
print(tpl, type(tpl))
 # tuple with single character without paranthisis
tpl= 'one',   # tuple with single character
print(tpl,type(tpl))
 # tuple with single character
tpl= ('one',)
print(tpl,type(tpl))

# tuple whithout paranthsis
tpl= 'one','two','three' # tuple with multiple character
print(tpl,type(tpl))
tpl=('one','two','three')  # tuple with multiple character
print(tpl, type(tpl))

# tpl[0]=1 TypeError: 'tuple' object does not support item assignment
# print(tpl, type(tpl))

('one', 'two', 'three') <class 'tuple'>
('one',) <class 'tuple'>
('one',) <class 'tuple'>
('one', 'two', 'three') <class 'tuple'>
('one', 'two', 'three') <class 'tuple'>

TypeError: 'tuple' object does not support item assignment

# looping in tuple

In [10]:
mixed= (1,2,3,4.0,'five')

# for loop
for i in mixed:
    print(i)
# while loop
i=0
while i<len(mixed):
    print(mixed[i])
    i+=1

1
2
3
4.0
five
1
2
3
4.0
five

# tuple unpacking

In [16]:
# by tuple unpacking we can assign elements in to variables
# take number of variable equals to number of elements in tuple

guitars=('yamaha', 'baton rounge','taylor')
guitar1,guitar2,guitar3=(guitars)
print(guitar1)
print(guitar2)
print(guitar3)

# guitars=('yamaha', 'baton rounge','taylor')
# guitar1,guitar2=(guitars)  #ValueError: too many values to unpack (expected 2), because element in tuple are 3 and we have taken 2 variable
# print(guitar1)
# print(guitar2)

# guitars=('yamaha', 'baton rounge','taylor')
# guitar1,guitar2,guitar3,guitar4=(guitars)  #ValueError: not enough values to unpack (expected 4, got 3), because element in tuple are 3 and we have taken 4 variable
# print(guitar1)
# print(guitar2)

yamaha
baton rounge
taylor

# list inside tuple

In [19]:
favorites= ('southern mangolia', ['tokyo ghoul theme','landscape'])
# we can perform function, method list inside tuple

favorites[1].pop() # last element of list will be poped
favorites[1].append('we made it') # element will be appeneded in last position of list inside tuple
print(favorites)

('southern mangolia', ['tokyo ghoul theme', 'we made it'])

# some functions

In [20]:
# we can use min(), max(), sum() functions

tpl=(1,2,3,4.0)
print(min(tpl))
print(max(tpl))
print(sum(tpl))

1
4.0
10.0

# function returning two values

In [22]:
def func(int1, int2):
    add= int1+int2
    multiply = int1*int2
    return add, multiply # will return add & multiple in tuple
result= func(4,5)
print(result, type(result))

add, multiply= func(4,5) # by tuple unpacking we can assign values in variables
print(add)
print(multiply)

(9, 20) <class 'tuple'>
9
20

# tuple from range()function, string, list

In [26]:
# tuple from range() function
tpl= tuple(range(1,11)) 
print(tpl, type(tpl))

# string to tuple
tpl= tuple('navneet')
print(tpl, type(tpl))

# tuple from list
tpl= tuple(['navneet','smita','mridul'])
print(tpl, type(tpl))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10) <class 'tuple'>
('n', 'a', 'v', 'n', 'e', 'e', 't') <class 'tuple'>
('navneet', 'smita', 'mridul') <class 'tuple'>

In [27]:
# tuple to string
lst= str((1,2,3,4,5,6,7,8,9,10))
print(lst, type(lst))

# tuple to list
lst= list((1,2,3,4,5,6,7,8,9,10))
print(lst, type(lst))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10) <class 'str'>
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10] <class 'list'>