# structured array

In [35]:
import numpy as np

In [82]:
emp_name=['Jane','Smith','William','Moore']
emp_id= [101,102,103,104]
emp_sal=[2000.8,2500,1890.90,9000.80]

In [45]:
# emp_data=np.zeros(4)

In [46]:
# emp_data

array([0., 0., 0., 0.])

In [83]:
emp_data=np.zeros(4, dtype= {'names': ('name','id','sal'), 'formats': ('U10','i4','f8')})

In [84]:
emp_data

array([('', 0, 0.), ('', 0, 0.), ('', 0, 0.), ('', 0, 0.)],
      dtype=[('name', '<U10'), ('id', '<i4'), ('sal', '<f8')])

In [85]:
emp_data['name']=emp_name
emp_data['id']=emp_id
emp_data['sal']=emp_sal

In [72]:
emp_data

array([('Jane', 101, 2000.8), ('Smith', 102, 2500. ),
       ('William', 103, 1890.9), ('Moore', 104,  900.8)],
      dtype=[('name', '<U10'), ('id', '<i4'), ('sal', '<f8')])

In [86]:
emp_data['name']

array(['Jane', 'Smith', 'William', 'Moore'], dtype='<U10')

In [75]:
emp_data['id']

array([101, 102, 103, 104])

In [76]:
emp_data['sal']

array([2000.8, 2500. , 1890.9,  900.8])

In [87]:
emp_data[emp_data['sal']<5000]

array([('Jane', 101, 2000.8), ('Smith', 102, 2500. ),
       ('William', 103, 1890.9)],
      dtype=[('name', '<U10'), ('id', '<i4'), ('sal', '<f8')])

In [78]:
emp_data[emp_data['sal']<5000]['name']

array(['Jane', 'Smith', 'William', 'Moore'], dtype='<U10')

In [80]:
emp_data[emp_data['sal']<5000]['name']

array(['Jane', 'Smith', 'William', 'Moore'], dtype='<U10')

In [88]:
emp_data[emp_data['sal']<5000]['id']

array([101, 102, 103])

# iteration over an array

In [ ]:
# we can iterate by loop

# have some function in numpy to iterate

In [90]:
arr1= np.arange(25,55)

In [91]:
arr1

array([25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41,
       42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54])

In [92]:
for i in arr1:
    print(i)

25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54

In [97]:
# 2d array
arr2=arr1.reshape(5,6)

In [98]:
for i in arr2: # will print only row
    print(i)

[25 26 27 28 29 30]
[31 32 33 34 35 36]
[37 38 39 40 41 42]
[43 44 45 46 47 48]
[49 50 51 52 53 54]

In [101]:
for i in arr2:  # printing individual element , two loop
    for j in i:
        print(j)

25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54

In [102]:
for i in arr2.flatten(): #usin functiong flatten
    print(i)

25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54

# iteration using nditer function

In [ ]:
# np.nditer(array name, order ='C')---> row major form
# np.nditer(array name, order ='F')---> column major form

In [103]:
for i in np.nditer(arr2, order='C'): # row major form
    print(i)

25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54

In [107]:
for i in np.nditer(arr2, order='F'): # row major form,  fortran form
    print(i)

25
31
37
43
49
26
32
38
44
50
27
33
39
45
51
28
34
40
46
52
29
35
41
47
53
30
36
42
48
54

# array broadcasting(broadcastable)

In [ ]:
1. Same dimension and same shape
2. no of row in 1st array and  2nd array should same---> either of the array should have one dimension=1
3. no of columns in 1st array and  2nd array should same ---> either of the array should have one dimension=1

In [109]:
arr4=np.arange(1,3)

In [111]:
arr4

array([1, 2])

In [117]:
arr5=arr4.reshape(2,1)

In [118]:
arr5

array([[1],
       [2]])

In [119]:
arr4+arr5

array([[2, 3],
       [3, 4]])

In [120]:
arr6=np.arange(1,4)

In [121]:
arr6

array([1, 2, 3])

In [122]:
arr7=np.arange(1,10).reshape(3,3)

In [123]:
arr7

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [124]:
arr6+arr7

array([[ 2,  4,  6],
       [ 5,  7,  9],
       [ 8, 10, 12]])

# iteration over broadcastable array

In [127]:
for i , j in np.nditer([arr6 , arr7]):
    print(i,j)

1 1
2 2
3 3
1 4
2 5
3 6
1 7
2 8
3 9